@use 'variables' as *;

body{
    margin: 0;
    padding: 0;
    border: $d .75rem solid;
    background-color: $b;
    header{
        @include red-bottom;
    }
}
.wrapper{
    padding: .3rem;
}
#src-info{
    @include center-box;
    @include red-bottom;
    flex-direction: column;
}
#info-box{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.btn-div{
    display: flex;
    justify-content: space-around;
    .btn-str{
    align-self: start;
}
}


#pkmTypes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.3rem;
    margin-bottom: 0.3rem;

}

.radioDiv input[type="radio"] {
    display: none;
  }
.radioLabel {
    border: $e 2px solid;
    display: inline-block;
    background-color: $c ;
    padding: 4px 11px;
    font-size: 18px;
    cursor: pointer;
    &.checked {
        background-color: $d;
    }
}

#card-box{
    @include center-box;
    flex-wrap: wrap;
    gap: .5rem;

}
    .pokeDiv{
        @include center-box;
        flex-direction: column;
        border: 2px $e solid;
        width: fit-content;
        padding: .75rem;
        background-color: $d;
    }
