/* Color scheme */
$a: hsl(180, 60%, 10%);
$b: hsl(222, 53%, 45%);
$c: hsl(192, 33%, 97%);
$d: hsl(51, 96%, 50%);
$e: hsl(3, 94%, 59%);
/*ALL THE COLORS FOR THE POKEMON TYPES*/
$fire: #f08030;
$grass: #78c850;
$electric: #f8d030;
$ice: #98d8d8;
$water: #6890f0;
$ground: #e0c068;
$rock: #b8a038;
$fairy: #ffaec9;
$poison: #a040a0;
$bug: #a8b820;
$dragon: #7038f8;
$psychic: #f85888;
$flying: #a890f0;
$fighting: #c03028;
$normal: #a8a878;
$dark: #705848;
$ghost: #705898;
$steel: #b8b8d0;